.c-card{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__heading{
        font-family: "HannariMincho";
        font-size: ( 20px / $font-size) * 1rem;
        color: #7B6DA2;
        letter-spacing: 2.7px;
    }
    &__item{
        padding: 28px 29px;
        background: #fff;
        width: 49%;
        margin-bottom: 41px;
        @include media-breakpoint-tab-sp{
            padding: 15px;
        }
        @include media-breakpoint-sp{
            width: 100%;
        }
    }
    &__content{
        &__text{
            font-size: ( 14px / $font-size) * 1rem;
            font-family: "HiraKakuPro";
            color: #010101;
            margin-top: 16px;
            line-height: 1.87;
            &.--edit{
                letter-spacing: -0.4px;
            }
            span{
                float: right;
                padding-left: 17px;
                padding-bottom: 3px;
                img{
                    margin-top: 6px;
                }
            }
            .clear{
                clear: both;
            }
        }
    }
}