.c-heading1{
    font-family: "HannariMincho", sans-serif;
    color: #333333;
    font-size: ( 30px / $font-size) * 1rem;
    font-weight: 400;
    @include media-breakpoint-tab-sp{
        font-size: ( 24px / $font-size) * 1rem;
    }
    &.--fs1{
        font-size: ( 50px / $font-size) * 1rem;
        @include media-breakpoint-tab-sp{
            font-size: ( 32px / $font-size) * 1rem;
        }
        span{
            font-size: ( 58px / $font-size) * 1rem;
            color: #2a8a99;
            position: relative;
            line-height: 1;
            @include media-breakpoint-tab-sp{
                font-size: ( 36px / $font-size) * 1rem;
            }
            &::after{
                content: "";
                position: absolute;
                background: url('./images/index/decoline.png') no-repeat;
                width: 251px;
                display: block;
                height: 7px;
                bottom: -3px;
                left: 0;
                @include media-breakpoint-tab-sp{
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }
    @media all and (-ms-high-contrast:none)
    {
        &.ieTitle{
            font-size: ( 50px / $font-size) * 1rem;
            span{
                font-size: ( 58px / $font-size) * 1rem;
                color: #2a8a99;
                position: relative;
                line-height: 1;
                &::after{
                    content: "";
                    position: absolute;
                    background: url('./images/index/decoline.png') no-repeat;
                    width: 251px;
                    display: block;
                    height: 7px;
                    bottom: -3px;
                    left: 0;
                }
            }
        }
    }
}